<div class="container-fluid">
    <h2>Products</h2>
    <div class="d-flex">
        <div class="col-8">
            <table class="table table-bordered table-striped table-hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" >
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Category</th>
                        <th>Price</th>
                        <th>Sale Price</th>
                        <th>Stock</th>
                        <th>TNC</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of this.products" (click)="selectRow(product)">
                        <td>{{product.name}}</td>
                        <td>{{product.shortDescription}}</td>
                        <td>{{product.category.description}}</td>
                        <td>{{product.price}}</td>
                        <td>{{product.salePrice}}</td>
                        <td>{{product.quantity}}</td>
                        <td>{{product.tnc}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>