<mat-toolbar>
  <mat-toolbar-row class="d-flex justify-content-between">
    <div>
      <button mat-button>
        <span class="logo">Store</span>
      </button>
        <button *ngIf="IsAdmin" mat-button [routerLink]="['generate-bill']">
          Billing
        </button>
        <button *ngIf="IsAdmin" mat-button [routerLink]="['products']">
          Products
        </button>

    </div>
    <div *ngIf="isLoggedIn">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>account_circle</mat-icon>
          <span>My Profile</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>power_settings_new</mat-icon>
          <span>Sign Out</span>
        </button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>