.btnProfile{
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background: deepskyblue;
    border: none;
    color: white;
}

.bgNavbar{
    border: 2px solid;
    padding:1px;
    border-radius: 20px;
}