@import '~ngx-toastr/toastr';


:root {
    --primary-color: #3066BE; 
    --text-color : white;
  }
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, sans-serif; }

.topMargin{
    margin-top: 5%;
}

.roundedButton{
    width: 100%;
    border-radius: 60px;
}


.linkBtn{
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  }